.cells {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #222222;
    cursor: pointer;
    outline: none;
    font-size: 40px;
    transition: .5s all ease;
}
.cellsInput {
    font-size: 70px;
}
.cells:hover {
    background: #c2c2c2;
}
.viewCells1 {
    background: rgb(223, 250, 101);
    color: green;
    width: 90px;
    height: 90px;
}
.viewCells2 {
    background: rgb(100, 237, 255);
    color: rgb(103, 10, 253);
    width: 80px;
    height: 80px;
}