.wrapp {
    min-height: 100vh;
    width: 100%;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(253, 253, 253);
}
.startBtn {
    width: 200px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #ffffff;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    transition: .5s all ease-in-out;
}
.startBtn:hover, .fullScreenBtn:hover, .optionsBtn:hover, .autoplayOff:hover, .autoplayOn:hover, .compOff:hover, .compOn:hover {
    background: #c2c2c2;
    color: #222222;
}
.infoGame {
    width:300px;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}
.winCells {
    background: rgb(143, 218, 133) !important;
}
.fullScreenMode, .autoPlay {
    width: 300px;
    margin-bottom: 10px;
}
.optionsMode {
    max-width: 450px;
}
.fullScreenMode, .optionsMode, .autoPlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.fullScreenBtn, .optionsBtn, .autoplayOff, .compOff {
    height: 35px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding: 0 10px;
    transition: .5s all ease-in-out;
}
.hotkeys {
    font-size: 16px;
}
.autoplayOn {
    height: 35px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background: rgba(114, 255, 86, 0.5);
    border: 1px solid white;
    padding: 0 10px;
    transition: .5s all ease-in-out;
}
.compOn {
    height: 35px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background: rgba(114, 255, 86, 0.5);
    border: 1px solid white;
    padding: 0 10px;
    transition: .5s all ease-in-out;
}
.wrapInfoGame {
    position: absolute;
    left: 5%;
    margin-bottom: 12vh;
}

@media (max-width: 1000px) {
    .wrapInfoGame {
        position: inherit;
        width: 300px;
    }
}