.wrapp {
    min-height: 100vh;
    width: 100%;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.startBtn {
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background: #222222;
    border: 1px solid white;
}
.startBtn:hover, .fullScreenBtn:hover {
    background: #c2c2c2;
    color: #222222;
    transition: .5s all ease;
}
.infoGame {
    width:300px;
    margin-top: 25px;
    font-size: 25px;
    color: white;
}
.winCells {
    background: rgb(143, 218, 133);
}
.fullScreenMode {
    width: 300px;
}
.optionsMode {
    max-width: 450px;
}
.fullScreenMode, .optionsMode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.fullScreenBtn, .optionsBtn{
    height: 35px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background: #222222;
    border: 1px solid white;
    padding: 0 10px;
}


